/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Header
-Header-Buttons
-Why
-three-pill
-quote
-FAQ
-Training Day Section
-Sponsor
-Footer

 */

body {
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* =========================================================================
                            Helpers
=======================================================================*/
.ml-1em {
  margin-left: 1em;
}

.mb-50px {
  margin-bottom: 50px;
}

.bold {
  font-weight: bold;
}

.mb-30px{
  margin-bottom:30px;
}

/* =========================================================================
                            Main Section
=======================================================================*/
.main-title {
  font-family: avenir;
  text-transform: uppercase;
  font-weight: lighter;
}

/* =========================================================================
                            Sticky Navbar
=======================================================================*/
#header .active {
  color: #fff !important;
  font-weight: 700 !important;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Navigation */
#header .active {
  color: #fff !important;
  font-weight: 700 !important;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#header {
  left: 0;
  right: 0;
  padding: 10px;
  top: 0;
  line-height: 10px;
  color: #fff;
  background-color: rgba(40,40,40,0);
  position: fixed;
  z-index: 1;
  text-align: right;


}

.pill-button{
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.3em 1em;
  line-height: 1em;
}

.navlink{
  display:inline-block;
  padding-top: 0.35em;
}

#header li {
  margin-bottom: 0;
}

#shading {
  background-color: rgba(0, 0, 0, 0.15);
  height: 100vh
}

.sub-text{
  font-size: 16pt;
  line-height: 10px;
  font-family:Lato;
}

@-webkit-keyframes hackingedu-header {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes hackingedu-header {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-o-keyframes hackingedu-header {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes hackingedu-header {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* Navigation */
#navbar {
  z-index: 2;
}
#navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
#navbar li {
  margin-right: 0;
  display: inline;
}
#navbar ul li a {
  text-decoration: none;
  margin: 0px;
  padding: 0px 15px;
  color: #eee;
  background-color: transparent;
}
#navbar ul li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: none;
  font-weight: 700;
}
#navbar li.current-menu-item a {
  color: #fff;
  text-decoration: none;
}
#navbar li.current_page_item {
  color: #fff;
  text-decoration: none;
}
#navbar nav>li>a:focus, #navbar .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
.navbar {
  margin-bottom: 0;
}
.navbar-toggle {
  float: left !important;
  margin-left: 15px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}
#schedule h4, #schedule p {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}
/* Justified Alignment*/
@media (min-width: 768px){
  #navbar{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    display: inline-block !important;
  }
}
@media (max-width: 768px) {
  .navbar-default .navbar-toggle { border: none; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  #header {
    background-color: rgba(0,0,0,.5); /* to undo gradient version for mobile */
    padding: 0px;
  }
  ul { padding: 0px; }
  #navbar { border: none; }
  #navbar ul li a {
    text-align: left;
    line-height: 2em;
  }
  #about p{
    font-size: 16px;
    color: #333;
    text-align: justify;
    padding: 0px 0px;
    margin: 0px 0px 10px !important;
  }
  #about p .special{
    color: #666 !important;
    font-size: 16px !important;
  }
  .scheduleSection .scheduleEvent p.text-thin{
    margin: 0;
  }

}

/* Header */
.large-header {
  background-image: url("../img/hack_background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.title-resize{
  max-width: 75%;
  height: auto;
  margin-bottom: 25px;
}

.substatement{
  color:white;
}

/* Header-Buttons */
.justified{
  text-align: justify;
}

.butt {
  border-radius: .55em;
  display:inline-block;
  width: 300px;
  height:55px;
  font-size:15px;
  transition-duration: .4s;
}

.butt:hover {
  color:black;
  background:white;
}

#stats{
  background-color: #eee;
  padding: 0% 12%;
}

.float-left{
  float:left;
}


/* Why */

#stats span {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

#why{

}

.text-center{
  text-align: center;
}

.extra-line-height{
  line-height: 35px;
}

#about {
  padding-top:90px;
}

/* Quote */
#quote{
  font-weight: bold;
}

.faq {
  margin-top: 90px;
}

/* Three Pillars */

#three-pill{
  background: white;
  padding: 30px 0px;
  margin-top:-25px;
}

#three-pill img {
  display: block;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.three-text{
  font-size: 55px;

}
.tday {
  margin-top: 90px;
}

.pad-45{
  padding: 45px;
}

.padtop20{
  padding-top: 20px;
}

/*FAQ*/
#faq{
  background-color:#eeeeee;
}

/*Training Day Section*/

#tdaySection {
  background: url('../img/tdayBack.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow: 0 0px 20px rgba(0,0,0,0.4);
}

.padtop60{
  padding-top:60px;
}

.padtop30{
  padding-top: 30px;
}

.bottom-150{
  padding-bottom: 150px;
}

.tdaytext{
  margin-top:60px;
  font-size: 17.5px;
}

.image1{
  background:url('../img/tday1Col.jpg');
  background-size: auto 100%;
  background-position: center
}
.image1:hover {background-size: auto 130%}


.image2{
  background:url('../img/tday2Col.jpg');
  background-size: auto 100%;
  background-position: center

}

.image2:hover {background-size: auto 130%}

.image3{
  background:url('../img/tday3Col.jpg');
  background-size: auto 100%;
  background-position: center

}

.image3:hover {background-size: auto 130%}

.resize{
  width: 100%;
  height: 300px;
  clear: both;
  position: relative;
  background-size: cover;

}

.bold{
  font-size: 1.9em;
}

.center-middle{
  text-align: center;
  padding-top: 130px;
  color: white;
  font-style: italic;
}

/*Twitter*/
#tweet_list {
  list-style: none;
}

.twitter_profile_pic {
  height: 1.25em;
  border: 1px solid white;
  margin-right: 10px;
  float: left;
}

#tweet_list li.tweet a {
  font-size: 1.5em;
  line-height: 2em;
  color: white;
}

#twitter_feed {
  background-color: #55acee;
}

#tweet_list li.tweet a:hover, #twitter_feed.twitter-share-button:hover {
  color: white !important;
  transition: none;
  border-bottom: 3px dotted white;
}

.screen-name {
  font-weight: bolder;
}

.twitter-share-button {
  display: block;
  font-size: 2em;
  color: white;
}

/* =========================================================================
Social Links
=======================================================================*/

.form-inline #medium-icon-header {
  margin: 0px 0px 0px 5px;
  font-size: 2.6em;
}

#medium-icon-header:hover {
  color: #FFFF66;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#social:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
}
#social {
  -webkit-transform:scale(0.8);
  /* Browser Variations: */
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.social-fb:hover { color: #3b5998; }
.social-tw:hover { color: #00aced; }
.social-ig:hover { color: #517fa4; }
.social-em:hover { color: #dd4b39; }

.social-block {
  position: absolute;
  right: 0;
  color: white;
  display: inline-block;
  width: 50px;
  margin-top: 3em;
  text-align: center;
}

.fa-3x {
  color: white;
}

.social-footer a{
  color: white;
}

.fa {
  box-sizing:content-box;
  font-size: 2em;
  margin-top: 0.5em;
}

.fa-medium {
  font-size: 1.5em;
  margin-top: 0.7em;
  color: white;
  display: block;
}

.fa-facebook:hover {
  color: #3a5795;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-instagram:hover {
  color: #517fa4;
}

.fa-medium:hover {
  color: #FFFF66;
}

/* =========================================================================
                            Sponsor
=======================================================================*/

#sponsor {
  background:white;
}

#sponsor .sponsorName {background: url('http://static.planetminecraft.com/files/resource_media/screenshot/1327/1328800264_minecraft-logo_5843730_lrg.jpg')}

#sponsor .chegg {
  background: url('../img/sponsors/chegg.png');
  width: 300px;
}

#sponsor .PayPal {
  background: url('../img/sponsors/paypal.png');
  width: 180px !important;
}

#sponsor .ibm {
  background: url('../img/sponsors/ibm.jpg');
}

#sponsor .auto {
  background: url('../img/sponsors/automattic.jpg');
  width: 300px !important;
}

#sponsor .pebble {
  background: url('../img/sponsors/pebble.png');
  width: 160px !important;
}

#sponsor .leapmotion {
  background: url('../img/sponsors/leapmotion.png');
  width: 120px !important;
  min-width: 0px !important;
  margin-left: 60px !important;
  margin-right: 50px !important;
}

#sponsor .makeschool {
  background: url('../img/sponsors/makeschool.png');
  margin-right: 60px !important;
}

#sponsor .twilio {background: url('../img/sponsors/twilio.png');}

#sponsor .twist {background: url('../img/sponsors/twist.png');}

#sponsor .draper {background: url('../img/sponsors/draper.png');}

#sponsor .bootstrap {
  background: url('../img/sponsors/bootstrap.png');
  width: 180px !important;
}

#sponsor .lyft {background: url('../img/sponsors/lyft.png');}

#sponsor .namecheap {
  background: url('../img/sponsors/namecheap.png');
  width: 240px !important;
}

#sponsor .socket {
  background: url('../img/sponsors/socket.png');
  width: 180px !important;
}

#sponsor .edsurge {background: url('../img/sponsors/edsurge.jpg')}

#sponsor .google {background: url('../img/sponsors/google.png')}

#sponsor .firebase {background: url('../img/sponsors/firebase.png')}

#sponsor .gun {
  background: url('../img/sponsors/gun.png');
  width: 85px !important;
  min-width: 0px !important;
}

#sponsor .thalmiclabs {
  background: url('../img/sponsors/thalmiclabs.png');
  width: 180px !important;
  margin-left: 40px !important;
}

#sponsor .pearlhacks {background: url('../img/sponsors/pearlhacks.png')}

#sponsor .nwhacks {background: url('../img/sponsors/nwhacks.jpg')}

#sponsor .lahacks {background: url('../img/sponsors/lahacks.jpeg')}

#sponsor .hack4baltimore {
  background: url('../img/sponsors/hack4baltimore.png');
  height: 100px !important;
  width: 200px !important;
}

#sponsor .globalcommit {
  background: url('../img/sponsors/globalcommit.png');
  height: 100px !important;
  width: 200px !important;
}

#sponsor .redbull {background: url('../img/sponsors/redbull.png')}

#sponsor figure {
  margin: -2em 3em;
  height: 50vh;
  width: 50vw;
  background-size: contain !important;
  display: inline-block;
  background-position: center center !important;
  background-repeat: no-repeat !important
}

#sponsor .tier1 figure {height: 25vh}

#sponsor .tier2 figure {
  min-height:20vh;
  width: 13vw;
  min-width: 12em;
  height: 30vh;
  margin-top: 16px;
}

#sponsor .tier2 .auto{
  min-width: 16em;
}

#sponsor .tier3 figure {

  height: 15vh;
  width: 8vw;
  margin-bottom: 16px;
  min-width: 10em;
  margin-top: 16px;
}

#sponsor .tier4 figure {
  height: 15vh;
  width: 8vw;
  margin-bottom: 16px;
  min-width: 10em;
  margin-top: 16px;
}

.sponsor {
  margin-top: 90px;
}

#partners .tier4 figure {
  z-index: -1;
}


/* =========================================================================
                            Footer
=======================================================================*/

.footer {
  background: #111;color:#eee
}

/* the wrapper element that will become the outer circle */
.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  margin-left:-5em;
  background:transparent;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #FFF;
}

/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */
.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

/* a pseudo element arrow placed on top of the other one with the same color as the wrapper */
.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: transparent transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

.footer-icon{
  display:inline-block;
  padding: 0 0.3em;
  margin-top: 0.2em;
}




