/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Header
-Header-Buttons
-Why
-three-pill
-quote
-FAQ
-Training Day Section
-Sponsor
-Footer

*/



/* Header */
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#hero{
	background: black;
}


.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


.demo-4 .main-title {
	font-size: 6em;
	font-weight: 300;
	padding: 10px 30px;
	text-transform: uppercase;
	color: #222;
}

.title-resize{
	max-width: 75%;
	height: auto;
	margin-bottom: 25px;

}

.substatement{
	color:white;
}

/* Header-Buttons */
#apply-butt{
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height:55px;
	font-size: 15px;
	margin-bottom:40px;

}

#sponsor-butt{
	display:inline-block;
	margin-left:auto;
	margin-right: auto;
	width: 300px;
	height:55px;
	font-size:15px;

}
#long-prism{
	background:url("../img/longprism.png");
	background-size:cover;
	background-repeat: no-repeat;
}

.float-left{
	float:left;
}


/* Why */


#why{
	/*background:url("../img/prism-background.jpg");
	background-size: 100% auto contain;*/
}

.text-center{
	text-align: center;
}

.why-text{
	padding-top:60px;
}

/* Quote */
#quote{
/*	background:lightslategrey;
*/}




/* Three Pillars */

#three-pill{
/*	background:#F67E7E;
*/}

 .top60{
	margin-top: 60px;

}

.pad-45{
	padding: 45px;
}

.padtop20{
	padding-top: 20px;
}

/*FAQ*/







/*Training Day Section*/

#tdaySection {
	background: url('../img/tdayBack.jpg');
	background-size:cover;
	background-repeat: no-repeat;
 }

 .padtop60{
 	padding-top:60px;

 }

 .bottom-150{
 	padding-bottom: 150px;
 }

 .tdaytext{
 	margin-top:60px;
 	font-size: 17.5px;
 }

  .image1{
  	background:url('../img/tday1Col.jpg');
  	background-size: auto 100%;
	background-position: center
  }
  .image1:hover {background-size: auto 130%}


  .image2{
  	background:url('../img/tday2Col.jpg');
  	background-size: auto 100%;
	background-position: center

  }

  .image2:hover {background-size: auto 130%}

  .image3{
  	background:url('../img/tday3Col.jpg');
  	background-size: auto 100%;
	background-position: center

  }

  .image3:hover {background-size: auto 130%}

  .resize{
  	width: 100%;
	height: 300px;
	clear: both;
	position: relative;
	background-size: cover;

  }

  .center-middle{
  	text-align: center;
  	padding-top: 130px;
  	color: white;
  	font-style: italic;
  }














/*Sponsor*/

#sponsor {
	background:white;
}


#sponsor .sponsorName {background: url('http://static.planetminecraft.com/files/resource_media/screenshot/1327/1328800264_minecraft-logo_5843730_lrg.jpg')}

#sponsor .chegg {background: url('../img/sponsors/chegg.png')}

#sponsor .PayPal {background: url('../img/sponsors/paypal.jpg')}

#sponsor .ibm {background: url('../img/sponsors/ibm.jpg')}

#sponsor .auto {background: url('../img/sponsors/automattic.jpg')}

#sponsor .pebble {background: url('../img/sponsors/pebble.png')}

#sponsor .leapmotion {background: url('../img/sponsors/leapmotion.png')}

#sponsor .makeschool {background: url('../img/sponsors/makeschool.png')}

#sponsor .twilio {background: url('../img/sponsors/twilio.png')}

#sponsor .twist {background: url('../img/sponsors/twist.png')}

#sponsor .draper {background: url('../img/sponsors/draper.png')}

#sponsor .bootstrap {background: url('../img/sponsors/bootstrap.png')}

#sponsor .lyft {background: url('../img/sponsors/lyft.png')}

#sponsor .namecheap {background: url('../img/sponsors/namecheap.png')}

#sponsor .socket {background: url('../img/sponsors/socket.png')}

#sponsor .edsurge {background: url('../img/sponsors/edsurge.jpg')}

#sponsor .google {background: url('../img/sponsors/google.png')}

#sponsor .firebase {background: url('../img/sponsors/firebase.png')}

#sponsor .gun {background: url('../img/sponsors/gun.png')}

#sponsor .thalmiclabs {background: url('../img/sponsors/thalmiclabs.png')}

#sponsor .pearlhacks {background: url('../img/sponsors/pearlhacks.png')}

#sponsor .nwhacks {background: url('../img/sponsors/nwhacks.jpg')}

#sponsor .lahacks {background: url('../img/sponsors/lahacks.jpeg')}

#sponsor figure {
	margin: 0.5em 3em;
	height: 50vh;
	width: 50vw;
	background-size: contain !important;
	display: inline-block;
	background-position: center center !important;
	background-repeat: no-repeat !important
 }

#sponsor .tier1 figure {height: 25vh}

#sponsor .tier2 figure {
	width: 13vw;
	min-width: 12em;
	height: 30vh
 }

#sponsor .tier3 figure {
	height: 20vh;
	width: 10vw;
	min-width: 10em;
	margin-bottom: 1em
 }

#sponsor .tier4 figure {
	height: 15vh;
	width: 8vw;
	margin-bottom: 16px;
	min-width: 10em;
	margin-top: 16px
 }



/*Footer*/


.footer {background: #111;color:#eee}

	.footer a.sexy {
		border: 1px solid #eee;
		padding: 20px 40px;
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 20px;
		position: relative;
		top: 20px;
		margin-bottom: 20px
	 }

.social i.fa {
	box-sizing: content-box;
	font-size: 2em;
	margin: 3em 1em
 }

.social .fa-facebook:hover {color: #3a5795}

.social .fa-twitter:hover {color: #55acee}

.social .fa-instagram:hover {color: #E54B4B}

.social .fa-medium:hover {color: #FFFF66}

